*{
    padding: 0px;
    margin :0px;
    box-sizing: border-box;
    background-color:black
}

html,body{
    height:100%;
    width:100%;
}

#navbar{
    background-color: black;
    padding: 10px;
    
}


.nav{
    margin-right: 150px;
    text-decoration: white;
    color: white;
    
}

#button{
background-color: #FF9900;
}

#logo{
    font-size: 25px;
    color: #FF9900;
    padding: 10px;
    border:20px white;
    width: 150px;
}

